node_modules/
frontend/node_modules/
client/node_modules/
server/node_modules/
.env
.env.*
!.env.example
frontend/.env
frontend/.env.*
client/.env
client/.env.*
!client/.env.example
server/.env
server/.env.*
!server/.env.example
dist/
frontend/dist/
build/
uploads/*
server/uploads/*
!server/uploads/.gitkeep
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
